// Слайдер
.slick-slider {
}

// Слайдер запущен
.slick-slider.slick-initialized {
}

// Слайдер с точками
.slick-slider.slick-dotted {
}

// Ограничивающая оболочка
.slick-list {
  overflow: hidden;
}

// Лента слайдов
.slick-track {
  display: flex;
  align-items: flex-start; // Для включения параметра adaptiveHeight: true
}

// Слайд
.slick-slide {
}

// Слайд активный (показывается)
.slick-slide.slick-active {
}

// Слайд основной
.slick-slide.slick-current {
}

// Слайд по центру
.slick-slide.slick-center {
}

// Клонированный слайд
.slick-slide.slick-cloned {
}

// Стрелка
.slick-arrow {
}

// Стрелка влево
.slick-arrow.slick-prev {
}

// Стрелка вправо
.slick-arrow.slick-next {
}

// Стрелка не активная
.slick-arrow.slick-disabled {
}

// Точки (булиты)
.slick-dots {
}
.slick-dots li {
}

// Активная точка
.slick-dots li.slick-active {
}

// Элемент точки
.slick-dots li button {
}

// SLIDER
.slider {
  // Для корректной работы параметра vertical: true
  // .slick-track {
  // 	display: block;
  // }
  position: relative;
  padding: 0 60px;

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 100;
    font-size: 0;
    width: 30px;
    height: 60px;
    margin: -30px 0 0 0;

    &.slick-prev {
      left: 0;
      background: url(../img/icons/p-left.svg) 0 0 / 70% no-repeat;
    }

    &.slick-next {
      right: 0;
      background: url(../img/icons/p-right.svg) 0 0 / 70% no-repeat;
    }

    &.slick-disabled {
      opacity: 0.2; // Сработает с параметром infinite: true
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      &:last-child {
        margin: 0;
      }

      &.slick-active {
        button {
          background: transparent;
          border: 1px solid #fff;
        }
      }
    }

    button {
      font-size: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff;
    }
  }

  &__item {
    text-align: center; // Для корректной работы параметра centerMode: true
    // Для корректной работы параметра vertical: true
    // height: 200px;
    // Затемнение соседних слайдов
    // opacity: 0.4;
    // transition: all .8s linear;
    // &.slick-center {
    // 	opacity: 1;
    // }
  }
}

// Вместо src='', для всех изображений прописываем data-lazy='', для более быстрой загрузки

.slider-big {
  &__item {
    text-align: center;
  }
}
